<div class="author-row-up">
    <div class="author-image-holder">
        <img src="{{author.image}}" class="author-picture"/>
    </div>
    <div class="author-name-holder">
        <span class="author-name">{{author.firstName}}</span>
    </div>
</div>
<div class="author-biography-holder">
    {{author.bio}}
</div>