<div class="news-holder">
    <div class="news-title-holder"> {{news.title}}</div>
    <div class="news-image-and-text-holder">
        <div class="news-image-holder">
            <img src="{{news.imageUrl}}"/>
        </div>
        <div class="news-text-holder">
            {{news.text}}
        </div>
    </div>
</div>