<div class="footer-holder">
    <div class="column">
        <div class="footer-text">Some texts</div>
        <ul>
            <li>Text1</li>
            <li>Text2</li>
            <li>Text3</li>
        </ul>
    </div>
    <div class="column"></div>
    <div class="column">
        <div class="footer-text">Some texts</div>
        <ul>
            <li>Text1</li>
            <li>Text2</li>
            <li>Text3</li>
        </ul>
    </div>
</div>