<div class="header-holder">
    <div class="header-menu-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/author">Author</a></li>
        </ul>
    </div>
</div>