<div class="main-news-holder">
    <div class="main-news-image-holder">
        <img src="{{imageUrl}}"/>
    </div>
    <div class="main-news-details-holder">
        <div class="main-news-title">
            {{title}}
        </div>
        <div class="main-news-text">
            <!--TO DO: IMPLEMENT HELPER FUNCTION HERE-->
        </div>
    </div>
</div>