
html {
    background-color: #fcfcfc;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.body-holder {
    width: 80%;
    padding-top: 30px;
}
.ads-holder {
    width: 19%;
}

.ads-holder .ad{
    height: 300px;
    width: 100%;
    background: red;
    color: white;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-holder {
    display: flex;
}